<mat-table [dataSource]="dataSource" class="mat-elevation-z8" xmlns="http://www.w3.org/1999/html">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="imageLink">
        <mat-header-cell *matHeaderCellDef> ImageLink </mat-header-cell>
        <mat-cell *matCellDef="let element">
        <img [src]="element.imageLink" alt="{{element.name}}" width="300">
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>